@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Livvic', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 1130px;
  padding: 0 10px;
}
/*  Arslon*/
.about__hero{
  background-image: url('../images/about-hero-left.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #014E56;
}
.about__main{
  padding-top: 70px;
  padding-bottom: 170px;
  gap: 178px;
}
.header__link:hover {
  color: #f67e7e;
}
.about__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #fff;
}

.about__text {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.about__desc{
  width: 730px;
}
.about__red-line{
  margin-bottom: 40px;
}

/* Arslon end */

/* Muhammadsodiq */

.directors {
  background-color: #004047;
  width: 100%;
  height: 1000px;
  background-image: url('../img/meet__section.png'),
  url('../img/meet__section__tihjt.png');
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}
.meet__list {
  padding-top: 64px;
}
.meet__titile {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff; 
  padding-top: 140px;
}

.meet__item {
  list-style: none;
  width: 350px;
  height: 255px;
  background: #012f34;
  margin-bottom: 65px;
}
.meet__item-last {
  list-style: none;
  width: 350px;
  height: 255px;
  background: #002529;
  margin-bottom: 65px;
}
.director__name {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}
.director__name-last {
  position: relative;
  top: -100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}
.director__name::before {
  content: '';
  width: 100px;
  height:  100px;
  display: inline-block;
  background-image: url('../img/meet__oval__img.png');
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 123px;
  top: -100px;
}
.meet__item:nth-child(2) .director__name::before {
  background-image: url('../img/meet__oval2.png');
}
.meet__item:nth-child(3) .director__name::before {
  background-image: url('../img/meet__oval3.png');
}
.meet__item:nth-child(4) .director__name::before {
  background-image: url('../img/meet__oval4.png');
}
.meet__item:nth-child(5) .director__name::before {
  background-image: url('../img/meet__oval5.png');
}
.director__div {
  padding-top: 130px;
  text-align: center;
}
.director__text {
  font-size: 15px;
  line-height: 25px;
  text-align: center; 
  color: #fff;
}
.director__box {
  width: 56px;
  height: 56px;
  background-color:#f67e7e;
  border-radius: 50%; 
  position: relative;
  left: 140px;
  bottom: -40px;
  cursor: pointer;
}
.director__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.director__text-last {
  width: 255px;
  position: relative;
  top: -90px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-left: 50px;
}
.box-last {
  position: relative;
  top: -40px;
  left: 140px;
  background-color: #79c8c7;
}
.bxl-twitter {
  font-size: 28px;
  color: #fff;
  margin-right: 16px;
}
.meet__linkid {
  font-size: 28px;
  color: #fff;
}
.director__icons {
  position: relative;
  left: 135px;
  top: -70px;
}
/*  Muhammadsodqi end */


                      /* MuxammadAli section=Clients */

#clients {
  padding: 140px 0;
  background-color: #012f34;
  background-image: url('../img/clients-bg.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.clients__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 70px;
}
.clients__list {
  list-style: none;
}
.clients__item:not(:last-child){
  margin-right: 80px;
} 

                        /* MuxammadAli section=Clients end */


                        /* <!----------------- MuxammadAli section=Started ----------------------> */
#started {
  padding: 76px 260px;
  background-color: #f67e7e;
  background-image: url('../img/started.svg');
  background-repeat: no-repeat;
  background-size: 200px 244px;
}

.started__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}
.started__btn {
  position: relative;
  right: 150px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  padding: 10px 33px;
  border: 2px solid #012f34;
  box-sizing: border-box;
  border-radius: 24px;
  background: none;
  cursor: pointer;
}

.started__btn:hover {
  background-color: #012f34;
  color: #fff;
}
.started__btn:active {
  border: 2px solid #bfcbcc;
  background-color: transparent;
  color: #bfcbcc;
}

/* <!----------------- MuxammadAli section=Started end ----------------------> */


/* <!----------------- MuxammadAli section=footer ----------------------> */

#footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer__inner {
  margin-right: 125px;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__list {
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}

.footer__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.footer__link:hover {
  color: #f67e7e;
}
.footer__link:active {
  color: #bfcbcc;
}

.footer__adress {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}
.social__list {
  list-style: none;
  margin-bottom: 50px;
  justify-content: right;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__copy {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

/* <!----------------- MuxammadAli section=footer end ----------------------> */