@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Livvic', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 1130px;
  padding: 0 10px;
}



header{
  background-color: #014E56;
}
.header__all{
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__list {
  list-style: none;
}
.header__item a{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
}
.header__link:hover {
  color: #f67e7e;
}
.header__logo {
  margin-right: 40px;
} 
.header__contact{
  text-align: center;
  padding: 10px 32px;
  border: 2px solid #fff;
  border-radius: 24px;

}.header__contact:hover{
  color: #002529;
  background-color: #fff;
  border: 2px solid #fff;
}


.hero {
  background-color:#014E56;
  background-image: url('../images/hero__img--left.svg'),url('../images/hero__img_bottom.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

.hero__main {
  padding-bottom: 200px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.hero__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  width: 635px;
}
.hero__span {
  color: #f67e7e;
}

.hero__text{
  margin-top: 70px;
  color: #fff;
  width: 445px; 
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

/*   Arslon  end */

/* Muhammadsodiq */
.manage {
  background-color: #012f34;
  height: 685px;
  width: 100%;
  background-image: url('../img/build__back.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
.build {
  padding-top: 80px; 
}
.title__build {
  width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  position: relative;
}
.title__build::before {
  content: '';
  width: 50px;
  border-top: 3px solid #f67e7e;
  display: inline-block;
  position: absolute;
  top: -55px;
}
.build__list {
  position: relative;
  top: 120px;
}
.build__item {
  margin-bottom: 32px;
  list-style-type: none;
  position: relative;
}
.build__item::before {
  content: '';
  width: 72px;
  height: 72px;
  background-image: url('../img/build__user.svg');
  display: inline-block;
  position: absolute;
  left: -100px;  
}
.build__item:nth-child(2)::before {
  background-image: url('../img/build__setting__img.svg');
}
.build__item:nth-child(3)::before {
  background-image: url('../img/build__fizik__img.svg');
}
.item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
  margin-bottom: 16px;
}
.item__text {
  width: 445px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;  
  color: #fff;
  opacity: 0.8;

}  
  
.stories {
  width: 100%;
  height: 745px;
  background-color: #004047; 
  padding-top: 140px;
  background-image: url('../img/succes__section.svg'),
  url('../img/secces__img__right.svg') ;
  background-repeat: no-repeat;
  background-position: top left , right bottom;
}
.results__title {
  width: 932px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 56px;
}
.results__span {
  color: #79cbc7;
}

.results__item {
  width: 350px;
  padding-top: 30px;
  background-image: url('../img/seccess__dots.svg');
  background-repeat: no-repeat;
  background-position: top  center;
}
.results__list {
  list-style: none;
}
.results__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}
.results__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin-bottom: 2px;
}
.results__job {
  font-size: 13px;
  line-height: 18px;  
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
  /* Muhammadsodiq end */


    /* <!----------------- MuxammadAli section=Started ----------------------> */
#started {
  padding: 76px 260px;
  background-color: #f67e7e;
  background-image: url('../img/started.svg');
  background-repeat: no-repeat;
  background-size: 200px 244px;
}

.started__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}
.started__btn {
  text-decoration: none;
  position: relative;
  right: 150px;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  padding: 10px 33px;
  border: 2px solid #012f34;
  box-sizing: border-box;
  border-radius: 24px;
  background: none;
  cursor: pointer;
}

.started__btn:hover {
  background-color: #012f34;
  color: #fff;
}
.started__btn:active {
  border: 2px solid #bfcbcc;
  background-color: transparent;
  color: #bfcbcc;
}

/* <!----------------- MuxammadAli section=Started end ----------------------> */


/* <!----------------- MuxammadAli section=footer ----------------------> */

#footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer__inner {
  margin-right: 125px;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__list {
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}

.footer__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.footer__link:hover {
  color: #f67e7e;
}
.footer__link:active {
  color: #bfcbcc;
}

.footer__adress {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}
.social__list {
  list-style: none;
  margin-bottom: 50px;
  justify-content: right;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__copy {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

/* <!----------------- MuxammadAli section=footer end ----------------------> */



